body {
    font-family: 'Arial', sans-serif;
    text-shadow: 0.5px 0 0.5px rgb(50, 50, 48);
    background-color: #1E90FF; 
    background-image: url("images/code_JS.png");
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Zorgt ervoor dat de content minimaal de hoogte van het viewport is */
}


/* Headerstijlen */
header {
    background-color: #1E90FF; /* Donkergrijze header achtergrondkleur */
    color: #fff;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex; /* Maakt de header een flex-container */
    justify-content: space-between; /* Zorgt voor een gelijke ruimte tussen de tekst en de afbeelding */
    align-items: center; /* Centreert de items verticaal */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0; /* Reset standaard marges om ruimte om de tekst te verminderen */
    margin-right: -50px; /* Pas de rechtermarge aan naar wens */

}


/* Navigatiestijlen */
nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    background-color: #1E90FF;
    border-radius: 5px;
}

nav a:hover {
    background-color: #1E90FF; /* Donkergrijze kleur bij hover */
}

/* Introsectie stijlen */
#intro {
    margin-top: 150px;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

/* Werksectie stijlen */
#work {
    background-color: #f8f9fa;
    padding: 40px;
    border-radius: 10px;
}

/* Codeertalensectie stijlen */
#languages {
    background-color: #fff;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

/* Socials sectie stijlen */
/* Socials sectie stijlen */
#socials {
    background-color: #1E90FF; 
    margin-top: -20px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
}

#socials a {
    color: #fff;
    text-decoration: none;
    margin-top:  15px;
    position: relative;
}

#socials a:hover {
    text-decoration: underline;
}

#socials img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    
    margin-bottom: 10px;
    position: relative;
}

/* Pseudo-elementen voor overlay op de afbeeldingen */
#socials a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: blue; /* Semi-transparante overlay */
    border-radius: 20%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#socials a:hover::before {
    opacity: 1;
}

#socials a span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}


/* Footerstijlen */
footer {
    background-color: #1E90FF;
    background-image: url("images/code_JS.png");

    color: #fff;
    padding: 20px;
    text-align: center;
}

h3 {
    color:#1E90Ff;
}

/* Sidebarstijlen */
/* Sidebarstijlen */
#sidebar {
    background-color: #007bff;
    width: 200px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -200px; /* Verberg de zijbalk buiten het zichtbare gebied */
    transition: left 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#sidebar a {
    text-decoration: none;
    text-shadow: 0.5px 0 0.5px rgb(255, 255, 255);
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#sidebar a:hover {
    background-color: #004080;
}

/* Voeg een kleine schaduw toe bij hover voor een verheffend effect */
#sidebar a:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* Maak de tekst iets groter en vetter voor betere leesbaarheid */
#sidebar a {
    font-size: 16px;
    font-weight: bold;
}

/* Voeg een lichte rand toe aan de zijbalk voor scheiding van de hoofdinhoud */
#sidebar {
    border-right: 1px solid #0056b3;
}

/* Maak de sidebar onzichtbaar wanneer geminimaliseerd */
#sidebar.minimized {
    left: -200px;
}
a {
    color: #333;
    font-weight: bold;
}

#toggleButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#toggleButton:hover {
    background-color: #004080;
}